<%- include("../../includes/head", { title: "Sign-in", stylesheets: ["form", "authentication"] } ) %>
<%- include("../../includes/header") %>
<main>
    <h1>Sign-in to your account</h1>
    <form action="/sign-up" method="POST">
        <input type="hidden" value="<%= locals.csrf %>" name="_csrf">
        <p>
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" minlength="6" required>
        </p>
        <button class="button">Sign-in</button>
        <p id="switch-form">You don't have an account yet? <a href="/sign-up">Sign-up</a> to create a new one!</p>
    </form>
</main>
<%- include("../../includes/footer") %>