<%- include("../includes/head", { title: "Sign-up", stylesheets: ["form", "authentication"] } ) %>
<%- include("../includes/header") %>
<main>
    <h1>Create a new account</h1>
    <form action="/sign-up" method="POST">
        <p>
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email" required>
        </p>
        <p>
            <label for="confirmation">E-Mail (Confirmation)</label>
            <input type="email" name="confirmation" id="confirmation" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" minlength="6" required>
        </p>
        <hr>
        <p>
            <label for="name">Full name</label>
            <input type="text" name="name" id="name" required>
        </p>
        <p>
            <label for="street">Street</label>
            <input type="text" name="street" id="street" required>
        </p>
        <p>
            <label for="postal">Postal code</label>
            <input type="text" name="postal" id="postal" minlength="5" maxlength="5" required>
        </p>
        <p>
            <label for="city">City</label>
            <input type="text" name="city" id="city" required>
        </p>
        <button class="button">Create an account</button>
        <p id="switch-form"><a href="/sign-in">Sign-in</a></p>
    </form>
</main>
<%- include("../includes/footer") %>