<header>
    <% const { authenticated, administrator, csrf } = locals; %>
    <div id="logo"><a href="/">WDE</a></div>
    <%- include("./navigation.ejs") %>
    <button id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>
<aside id="mobile-navigation">
    <%- include("./navigation.ejs") %>
</aside>