<nav>
    <ul class="list navigation-items">
        <% if (!administrator) { %>
            <li><a href="/">Shop</a></li>
            <li><a href="/cart">Cart</a></li>
        <% } %>
        <% if (authenticated) { %>
            <% if (administrator) { %>
                <li><a href="/administration/products">Manage products</a></li>
                <li><a href="/administration/orders">Manage orders</a></li>
            <% } else { %> <li><a href="/orders">Orders</a></li> <% } %>
        <% } else { %>
            <li><a href="/sign-in">Sign-in</a></li>
            <li><a href="/sign-up">Sign-up</a></li>
        <% } %>
        <% if (authenticated) { %>
            <li>
                <form action="/sign-out" method="POST">
                    <input type="hidden" value="<%= csrf %>" name="_csrf">
                    <button>Sign-out</button>
                </form>
            </li>
        <% } %>
    </ul>
</nav>