<%- include("../../includes/head", { title: "Failure!" } ) %>
<%- include("../../includes/header") %>
<main>
    <h1>Order failed!</h1>
    <p>Please contact the shop owner for more details!</p>
</main>
<%- include("../../includes/footer") %>