<%- include("../../includes/head", { title: "Success!" } ) %>
<%- include("../../includes/header") %>
<main>
    <h1>Order was successful!</h1>
    <p>You can visit the <a href="/orders">Orders</a> page for more details!</p>
</main>
<%- include("../../includes/footer") %>