<!DOCTYPE html>
<html lang="en">
<%- include("./partials/_head")  %>
<body>
<%- include("./partials/_header")  %>
<%- include("./partials/_aside")  %>
<main>
    <h1>404 - Not Found</h1>
    <p>Unfortunately, we couldn't find the page you were looking for.</p>
</main>
</body>
</html>
