<!DOCTYPE html>
<html lang="en">
<%- include("./partials/_head")  %>
<body>
<%- include("./partials/_header")  %>
<%- include("./partials/_aside")  %>
<main>
    <h1>500 - Internal Server Error</h1>
    <p>Unfortunately, something went wrong with the server.</p>
</main>
</body>
</html>
