<!DOCTYPE html>
<html lang="en">
<%- include("./partials/_head", { stylesheets: ["index"] })  %>
<body>
<%- include("./partials/_header")  %>
<%- include("./partials/_aside")  %>
<main>
    <h1>Make the world a tastier place!</h1>
    <p>
        Share your favorite restaurants or find recommendations of other users!
    </p>
    <ul id="actions">
        <li>
            <a href="/restaurants">Browse Shared Restaurants</a>
        </li>
        <li>
            <a href="/recommend">Share Your Favorite Restaurant</a>
        </li>
    </ul>
</main>
</body>
</html>
