<%- include('includes/head.ejs', { title: 'Profile' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>The Profile Page</h1>
    <p>This is the profile page.</p>
  </main>
</body>
</html>