<%- include('includes/head.ejs', { title: 'View & Edit Blog Post' }) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <%- include('includes/post-form', { 
      url: '/posts/' + post._id + '/edit',
      error: data.error,
      message: data.message,
      title: data.title,
      content: data.content })
    %>
  </main>
</body>
</html>