<%- include("./includes/head.ejs", { title: "Error | 400" }) %>
<%- include("./includes/header.ejs") %>
<main>
  <h1>Not authenticated!</h1>
  <p>You are not authenticated and therefore not allowed to access this page!</p>
</main>
<%- include("./includes/footer") %>