<%- include("../includes/head.ejs", { title: "Error | 403" }) %>
<%- include("../includes/header.ejs") %>
<main>
  <h1>Not authorized!</h1>
  <p>You are not authorized to access this page!</p>
</main>
<%- include("../includes/footer") %>