<%- include("../includes/head.ejs", { title: "Error | 404" }) %>
<%- include("../includes/header.ejs") %>
  <main>
    <h1>(404) Ressource not found!</h1>
    <p>Unfortunately, we could not find the requested ressource!</p>
    <p><a href="/" class="button">Back to safety</a></p>
  </main>
<%- include("../includes/footer") %>