<%- include("../includes/head.ejs", { title: "Error | 500" }) %>
<%- include("../includes/header.ejs") %>
  <main>
    <h1>An error occurred!</h1>
    <p>Something went wrong - please try again later!</p>
    <p><a href="/" class="button">Back to safety</a></p>
  </main>
<%- include("../includes/footer") %>