<article class="product-item">
    <img src="<%= product.image.url %>" alt="<%= product.title %>">
    <h2><%= product.title %></h2>
    <div>
        <a class="button button-alternative" href="administration/products/<%= product.id %>">View & Edit</a>
        <button class="button">Delete</button>
    </div>
</article>