main { text-align: center; }

.cart-item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-700);
  padding: var(--space-4);
  margin: var(--space-4) 0;
  border-radius: var(--border-radius-medium);
  @media (min-width: 48rem) {
    flex-direction: row;
    justify-content: space-between;
  }
  &-information {
    h2 {
      font-size: 1rem;
      margin: 0;
    }
    p {
      color: var(--color-primary-200);
    }
    &-price {
      font-style: italic;
      color: var(--color-primary-50);
    }
  }
  &-management {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
    @media (min-width: 48rem) { flex-direction: row; }
    input {
      width: 7rem;
      font: inherit;
      text-align: center;
      padding: var(--space-2);
      border: none;
      border-radius: var(--border-radius-small);
      &:focus { outline: none;}
    }
  }
}

#cart-total {
  p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary-500);
  }
}