h1 { text-align: center; }

form {
  text-align: center;
  hr {
    border-color: var(--color-primary-200);
    margin: var(--space-4);
  }
  label {
    display: block;
    color: var(--color-gray-100);
    margin-bottom: var(--space-2);
  }
  input, textarea {
    font: inherit;
    padding: var(--space-2);
    border-radius: var(--border-radius-small);
    border: none;
    width: 90%;
    &[type="file"] {
      width: max-content;
      margin-inline: auto;
    }
    &:focus { outline: none;}
  }
  p:focus-within label {
    transform: scale(1.05);
    color: var(--color-primary-100);
  }
}