h1 { text-align: center; }

form {
  text-align: center;
  hr {
    border-color: var(--color-primary-200);
    margin: var(--space-4);
  }
  label {
    display: block;
    color: var(--color-gray-100);
    margin-bottom: var(--space-2);
  }
  input, textarea {
    font: inherit;
    padding: var(--space-2);
    border-radius: var(--border-radius-small);
    border: none;
    width: 90%;
    &:focus { outline: none;}
  }
  p:focus-within label {
    transform: scale(1.05);
    color: var(--color-primary-100);
  }
}

#image-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    display: none;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: var(--border-radius-small);
  }
}