* { box-sizing: border-box; }
html { font-family: "Montserrat Alternates", sans-serif; }

@import "./variables";

body {
  background-color: var(--color-gray-500);
  color: var(--color-gray-100);
  margin: 0;
}

@import "./-navigation";

main {
  text-align: center;
  width: 90%;
  max-width: 50rem;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

button, a { outline: none; }

.button {
  cursor: pointer;
  font: inherit;
  padding: var(--space-2) var(--space-6);
  background-color: var(--color-primary-500);
  color: var(--color-primary-500-contrast);
  border: 1px solid var(--color-primary-500);
  border-radius: var(--border-radius-small);
  &:hover, &:active {
    background-color: var(--color-primary-700);
    border-color: var(--color-primary-700);
  }
  &-alternative {
    background-color: transparent;
    color: var(--color-primary-500);
    &:hover, &:active { background-color: var(--color-primary-500-bg); }
  }
}

.alert {
  border-radius: var(--border-radius-small);
  background-color: var(--color-error-100);
  color: var(--color-error-500);
  padding: var(--space-4);
  text-align: center;
  h2 {
    font-size: 1rem;
    margin: var(--space-2) 0;
    text-transform: uppercase;
  }
  p { margin: var(--space-2) 0; }
}

.badge {
  margin-left: var(--space-2);
  padding: 0.15rem var(--space-4);
  border-radius: 10rem;
  background-color: var(--color-primary-500);
  color: var(--color-primary-500-contrast);
}


