main {
  width: 50rem;
  margin: 12.5rem auto 4.5rem auto;
  background-color: #DB6C5EFF;
  padding: 1.5rem;
  border: 0.25rem solid #2C2C2CFF;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem #0000003F;
  img {
    width: 12.5rem;
    height: 12.5rem;
    border: 0.25rem solid #2C2C2CFF;
    border-radius: 50%;
    margin-top: -8.25rem;
  }
  h1 {
    font-size: 2rem;
    color: #1F1919FF;
    span { color: #420202FF; }
  }
  #goal {
    color: #4B4545FF;
    font-weight: bold;
    font-size: 3.25rem;
  }
}

a { color: #491D32FF }



