.flicker-in { animation: flicker-in 1s linear both; }
.vibrate:hover { animation: vibrate 0.3s linear infinite both; }
.heartbeat { animation: heartbeat 2s linear infinite both; }
.bounce-in { animation: bounce-in 1.1s; }

@keyframes flicker-in {
  0% { opacity: 0;}
  10% { opacity: 0; }
  10.1% { opacity: 1; }
  10.2% { opacity: 0;}
  20% { opacity: 0; }
  20.1% { opacity: 1; }
  20.6% { opacity: 0; }
  30% { opacity: 0; }
  30.1% { opacity: 1; }
  30.5% { opacity: 1;}
  30.6% { opacity: 0; }
  45% { opacity: 0; }
  45.1% { opacity: 1;}
  50% { opacity: 1; }
  55% { opacity: 1; }
  55.1% { opacity: 0; }
  57% { opacity: 0; }
  57.1% { opacity: 1; }
  60% { opacity: 1; }
  60.1% { opacity: 0; }
  65% { opacity: 0; }
  65.1% { opacity: 1; }
  75% { opacity: 1; }
  75.1% { opacity: 0; }
  77% { opacity: 0; }
  77.1% { opacity: 1; }
  85% { opacity: 1; }
  85.1% { opacity: 0; }
  86% { opacity: 0; }
  86.1% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

