body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
  color: rgb(68, 68, 68);
}

header {
  position: static;
  nav ul li a {
    color: rgb(235, 253, 255);
    &:hover {
      border-right: 2px solid rgb(235, 253, 255);
      border-bottom: 2px solid rgb(235, 253, 255);
    }
  }
}

#logo a {
  color: rgb(235, 253, 255);
  &:hover .initials {
      color: rgb(22, 211, 228);
      text-shadow: none;
      border-bottom: 2px solid rgb(235, 253, 255);
      border-top: 2px solid rgb(235, 253, 255);
    }
}

main {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1200px;
    margin: 25px auto 50px auto;
    padding: 0;
    list-style: none;
    gap: 20px;
    @media only screen and (max-width: 1200px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      display: flex;
      background-color: white;
      box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      overflow: hidden;
      &:nth-child(3n) { grid-column: 1/3; }
      &:hover h2 {
        border-left: 4px solid rgb(68, 68, 68);
        color: rgb(22, 211, 228);
        border-radius: 5px;
      }
      @media only screen and (max-width: 1200px) {
        width: 300px;
        flex-direction: column;
      }
      img {
        width: 300px;
        height: 280px;
        object-fit: cover;
        @media only screen and (max-width: 1200px) {
          height: 200px;
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  @media only screen and (max-width: 1200px) {
    height: 100%;
    width: 250px;
  }
  h2 {
    border-left: 2px solid rgb(22, 211, 228);
    padding-left: 5px;
  }
}

.action {
  align-self: end;
  a {
    text-decoration: none;
    padding: 10px;
    color: rgb(22, 211, 228);
    border-right: 1px solid rgb(22, 211, 228);
    border-bottom: 1px solid rgb(22, 211, 228);
    border-radius: 10px 0 10px 0;
    &:hover {
      border: 1px solid rgb(22, 211, 228);
      box-shadow: 1px 1px rgba(22, 211, 228, 0.5);;
      background-color: rgb(235, 253, 255);
    }
  }
}

