body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
}

a { text-decoration: none; }

header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 26, 24);
  padding: 0 5%;
  ul {
    margin: 0 20px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1.25rem;
    a  {
      color: rgb(185, 131, 31);
      font-size: 1.25rem;
      &:hover {
        color: rgb(228, 164, 44);
      }
    }
  }
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}

main h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 3rem;
}

#meals {
  width: 80%;
  margin: 2rem auto;
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin: 0;
    padding: 0;
  }
}

.meal {
  background-color: rgb(228, 206, 182);
  border-radius: 10px;
  overflow: hidden;
  img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
  }
  &-content {
    padding: 1rem;
    text-align: center;
    h2 { margin-top : 0.75rem; }
  }
}

.button {
  background-color: rgb(228, 157, 44);
  color: white;
  border-radius: 10px 5px 10px 5px;
  padding: 0.5rem 1.5rem;
  &:hover { background-color: rgb(221, 134, 34); }
}