body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

header {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 15px 60px;
  flex-wrap: wrap;
  @media only screen and (max-width: 796px) { justify-content: center; }
  nav {
    ul {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-left: 25px;
        a {
          text-decoration: none;
          color: rgb(245, 243, 160);
          font-size: 25px;
          text-shadow: 1px 1px 2px rgb(0, 0, 0);
          padding: 10px;
          border-radius: 10px 0 10px 0;
          &:hover {
            border-right: 2px solid rgb(245, 243, 160);
            border-bottom: 2px solid rgb(245, 243, 160);
          }
        }
      }
    }
  }
}

#logo {
  @media only screen and (max-width: 796px) { margin-bottom: 15px; }
  a {
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
    color: rgb(245, 243, 160);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    &:hover .initials {
      color: rgba(51,47, 47, 0.8);
      text-shadow: 1px 1px 2px rgb(245, 243, 160);
      border-bottom: 2px solid rgb(245, 243, 160);
      border-top: 2px solid rgb(245, 243, 160);
    }
  }
}

#about { cursor: not-allowed; }

