<%- include("../../includes/head", { title: "Orders", stylesheets: ["orders"], scripts: ["order-management"] } ) %>
<%- include("../../includes/header") %>
<main>
    <h1>Orders</h1>
    <ol id="orders-list" class="list">
        <% for (const order of orders) { %>
            <li><%- include("../../includes/orders/order", { order }) %></li>
        <% } %>
    </ol>
</main>
<%- include("../../includes/footer") %>