<%- include("../../includes/head", { title: "Products", stylesheets: ["products"] } ) %>
<%- include("../../includes/header") %>
<main>
    <h1>Products</h1>
    <ul id="products-list" class="list">
        <% for (const product of products) { %>
            <li><%- include("../../includes/products/product", { product }) %></li>
        <% } %>
    </ul>
</main>
<%- include("../../includes/footer") %>