<%- include("../../includes/head", { title: "Products" } ) %>
<%- include("../../includes/header") %>
<main>
    <h1>Products</h1>
    <p>A list of products...</p>
</main>
<%- include("../../includes/footer") %>