<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>To-dos</title>
    <link rel="stylesheet" href="styles/main.css"/>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="scripts/app.js" defer></script>
</head>
<body>
<header>
    <h1>To-do Management</h1>
    <p>Manage your (daily) to-dos with ease!</p>
</header>
<main id="app">
    <section id="todo-management">
        <form @submit="add">
            <label for="text">To-do text</label>
            <input type="text" id="text" name="text" v-model="input" required />
            <button>Save</button>
        </form>
    </section>
    <section v-else id="todos">
        <p v-if="loading">Loading...</p>
        <p v-else-if="!todos.length">There is no to-do available.</p>
        <ul id="todos-list">
            <li v-for="todo of todos">
                <p>{{ todo.text }}</p>
                <div>
                    <button @click="edit(todo._id)">Edit</button>
                    <button @click="remove(todo._id)">Delete</button>
                </div>
            </li>
        </ul>
    </section>
</main>
</body>
</html>
