<%- include("../../includes/head", { title: "Administration: Create a product", stylesheets: ["form"], scripts: ["image-upload"] } ) %>
<%- include("../../includes/header") %>
<main>
    <h1>Administration: Create a product</h1>
    <% const action = "/administration/products" %>
    <%- include("./includes/product-form", { action }) %>
</main>
<%- include("../../includes/footer") %>