<%- include("../../includes/head", { title: "Administration: Products", stylesheets: ["products"] } ) %>
<%- include("../../includes/header") %>
<main>
    <h1>Administration: Products</h1>
    <section>
        <h2>Manage products</h2>
        <p><a href="/administration/products/create" class="button">Create product</a></p>
    </section>
    <section>
        <ul id="products-list" class="list">
            <% for (const product of products) { %>
                <li><%- include("./includes/product", { product }) %></li>
            <% } %>
        </ul>
    </section>
</main>
<%- include("../../includes/footer") %>