<%- include("../../includes/head", { title: "Administration: Products" } ) %>
<%- include("../../includes/header") %>
<main>
    <h1>Administration: Products</h1>
    <section>
        <h2>Manage products</h2>
        <p><a href="/administration/products/create" class="button">Create product</a></p>
    </section>
    <section>
        <p>A list of products...</p>
    </section>
</main>
<%- include("../../includes/footer") %>